.tieude{
    border-bottom: 4px black solid;
}

.tieude h2{
    position: relative;
    top: 35px;
    left: 30px;
    display: inline-block;
    background-color: white;
}

.tin{
    width: 190px;
    height: 215px;
    margin-right: 10px;
    float: left;
    margin-top: 15px;
}
.tin img{
    width: 100%;
}

.tin a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 13px;
    color: black;
    font-weight: bold;
}

.tinto{
    width: 400px;
}