*{
    margin: 0;
    padding: 0;
}

.tren{
    width: 700px;
    height: 40px;
    padding-top: 13px;
    margin: auto;
}

a.xt{
    margin-top: -30px;
    float: right;
    text-decoration: none;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 12px;
    font-style: italic;
}

a.xt:hover{
    color: lightblue;
}

a.tdto{
    display: block;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: pink;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 19px;
    background-image: url('1.png');
    background-repeat: no-repeat;
    background-position: center bottom;
    padding-bottom: 10px;
}

.icon{
    width: 700px;
    text-align: center;
    margin: auto;
    margin-top: 10px;
}

._1icon{
    width: 50px;
    height: 70px;
    display: inline-block;
}

._1icon:hover .chuaicon{
    background-position: 29px -509px;
}

._1icon:hover .linkicon{
    color: lightblue;
}

.chuaicon{
    width: 29px;
    height: 50px;
    display: block; 
    background-image: url(site-icons.png);
    background-position: 29px -420px;
    margin-left: 11px;
}

.linkicon{
    text-decoration: none;
    font-size: 10px;
    color: gray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

._so2 .chuaicon{
    background-position: 60px -420px;
}

._3tin{
    width: 700px;
    margin: auto;
    height: 335px;
    border-bottom: 1px black solid;
}

.motin{
    width: 220px;
    height: 290px;
    float: left;
    margin-right: 20px;
}

.motin:nth-child(3){
    margin-right: 0;
}
.motin a{
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 14px;
    color: black;
    display: block;
    padding: 10px 0;
}

.motin p{
    color: gray;
    margin: 0;
    padding: 0;
}
.motkhoimarry{
    overflow: hidden;
}